@import '../variables/colorVariables.scss';
@import '../variables/coreVariables.scss';

input, button, textarea, select {
    font-family: inherit;
}

textarea {
    resize: none;
    height: 100px;
}

.cnt-element-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.cnt-element-form label {
    font-size: 0.9rem;
    columns: $black-600;
    font-weight: 500;
}


/*********************************************/
/*********** INPUT/SELECT/TEXTAREA **********/
/*******************************************/
.cnt-floating-label { 
    position:relative;
}

::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.cnt-floating-label label {
    color: $black-800;
    font-size: 1rem;
    position: absolute;
    pointer-events: none;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input, select, textarea {
    font-size: 0.9rem;
    width: 100%;
    background: #fff;
    color: #323840;
    box-sizing: border-box;

    &:focus{
        outline: none;
        border: 1px solid #3681ff;
        box-shadow: 0 0 0px 1px #cfe0ff;
        ~ .floating-label, ~ .floating-label-100, ~ .floating-label-bottom {
            font-size: 13px;
            color:#3681ff;
            font-weight: 500;
        }
    }
}

.default-input {
    border: 1px solid $black-400;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.9rem;
}


//*** Label over border  ***//
.floating-label {
    left: 12px;
    top: 10px;
}

.floating-input, 
.floating-select, 
.floating-textarea {
    padding: 0.7rem 0.85rem;
    border: 1px solid $black-400;
    border-radius: 4px;

    &:focus{
        outline:none;
        ~ .floating-label {
            top: -8px;
            left: 12px;
            padding: 0 0.2rem;
        }
    }
}

.floating-input:not(:placeholder-shown) ~ label,
.floating-textarea:not(:placeholder-shown) ~ label {
    top: -8px;
    left: 12px;
    font-size: 13px;
    padding: 0 0.2rem;
    font-weight: 500;
}


.floating-select:not([value=""]):valid ~ label,
.floating-select[value=""]:focus ~ label {
    top: -8px;
    left: 12px;
    font-size: 13px;
    padding: 0 0.2rem;
    font-weight: 500;
}


//*** Label inside input  ***//
.floating-label-100 {
    left: 12px;
    top: 12px;
}

.floating-input-100, 
.floating-select-100, 
.floating-textarea-100 { 
    padding: 1.2rem 0.5rem 0.4rem 0.6rem;
    border: 1px solid $black-400;
    border-radius: 4px;

    &:focus{
        padding: 1.2rem 0.5rem 0.4rem 0.6rem;
        ~ .floating-label-100 {
            top: 4px;
            left: 10px;
        }
    }
}

.floating-input-100:not(:placeholder-shown) ~ label, 
.floating-textarea-100:not(:placeholder-shown) ~ label  {
    top: 4px;
    left: 10px;
    font-size: 13px;
    font-weight: 500;
}

.floating-select-100:not([value=""]):valid ~ label,
.floating-select-100[value=""]:focus ~ label  {
    top: 4px;
    left: 10px;
    font-size: 13px;
    font-weight: 500;
}


//*** Input border bottom  ***//
.floating-label-bottom {
    left: 5px;
    top: 16px;
}

.floating-input-bottom, 
.floating-select-bottom, 
.floating-textarea-bottom {
    padding: 1.2rem 0.5rem 0.3rem 0.3rem;
    border: none;
    border-bottom: 1px solid $black-400;
    border-radius: 0px;

    &:focus{
        padding: 1.2rem 0.5rem 0.3rem 0.3rem;
        border: none;
        border-bottom: 1px solid #3681ff;
        box-shadow: none;
        ~ .floating-label-bottom {
            top: 2px;
            left: 5px;
        }
    }
}

.floating-input-bottom:not(:placeholder-shown) ~ label,
.floating-textarea-bottom:not(:placeholder-shown) ~ label {
    top: 2px;
    left: 5px;
    font-size: 13px;
    font-weight: 500;
}

.floating-select-bottom:focus ~ label, 
.floating-select-bottom:not([value=""]):valid ~ label {
    top: 2px;
    left: 5px;
    font-size: 13px;
    font-weight: 500;
}

/****************************/
/****** CHECKS E RADIO *****/
/**************************/
input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
    box-shadow: 0px 0px 1px 3px #cfe0ff;
    border: 1px solid #3681ff;
}

input[type="radio"] {
    border-radius: 10px;
}

/****************************/
/********* SWITCH **********/
/**************************/
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
}

.switch input { 
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
}

.slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: $black-500;
    border-radius: 34px;
    transition: .2s;
    -webkit-transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $green-500;
}

input:checked + .slider:before {
    transform: translateX(13px);
}



//***** READONLY / DISABLED ******//
input[readonly], 
input[type="checkbox"]:disabled, 
input[type="radio"]:disabled, 
input[type="date"]:read-only, 
textarea[readonly],
select:disabled,
button:disabled,
label.label-check[readonly], 
label.label-radio[readonly],
input[type="checkbox"]:disabled ~ .slider.round {
    cursor: not-allowed;
}


input[readonly], textarea[readonly], select:disabled {
    background: #f5f5f7;
    opacity: 0.8;
}
