$size: (
    extra-small:    xs,
    small:          s, 
    medium:         m, 
    large:          l, 
    extra-large:    xl, 
    2extra-large:   xxl,
);

$sizeNumber: (
    100, 
    75, 
    50, 
    25, 
);

$position: (
    top:    t,
    right:  r,
    bottom: b,
    left:   l,
);